{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

brew "direnv"
brew "fx"
brew "tmux"

cask "ghostty"
cask "nikitabobko/tap/aerospace"
cask "font-fira-code-nerd-font"
cask "raycast"
cask "visual-studio-code"

EOF
{{ end -}}
